/* ==========================================================================
   THEME STYLE MODIFICATIONS
   ========================================================================== */

/**
 * Set all your THEME styles in this file.
 *
 * Adding a Theme to a design is very straightforward as every component works
 * like an extensible class. This allows you to add theme specific classes
 * and/or override existing classes.
 *
 * NOTE: Any new classes created should follow the established coding
 * standards for the framework. Theme specific classes should be prefixed by
 * `.t-`.
 *
 * Why do it this way?
 * By decoupling the theme styling from the default framework, you get the
 * following benefits:
 *		Keep the framework core library up-to-date
 *		Updates to the core styles of the framework do not get overwritten when
 *		extending the component.
 *
 *		End-user entry points remain untouched
 *		End-users do not need to use any custom name that belongs only to the
 *		theme.
 */

/**
 * Import Slick Style Default Styles
 */
@import "../../plugins/slick/slick.css";





body {
	background-color: #f7f7f7;
}





/**
 * Typography Overrides
 */
html,
.u-font-primary {
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.u-font-secondary {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-style: italic;
}


button,
input,
html,
select,
textarea {
	letter-spacing: 0.05em;
}

a {
	color: currentColor;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.2s;
}

a:focus,
a:hover {
	text-decoration: none;
}

.t-primary-link {
	color: #333;
	font-weight: 600;
	letter-spacing: 0.025em;
	text-decoration: none;
}

.t-primary-link:focus,
.t-primary-link:hover {
	color: #a1a1a1;
}

.t-secondary-link {
	color: #6e6e6e;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 1;
}

.t-secondary-link:focus,
.t-secondary-link:hover {
	color: #333;
	text-decoration: underline;
	opacity: 1;
}


p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.444;
}


.c-heading-alpha {
	font-size: calc(55px * 0.85);
	font-weight: 700;
	line-height: 1.4;
}

.c-heading-bravo {
	font-size: calc(50px * 0.85);
	font-weight: 700;
	line-height: 1.36;
}

.c-heading-charlie {
	font-size: calc(30px * 0.85);
	font-weight: 700;
	line-height: 1.5;
}

.c-heading-delta {
	font-size: calc(28px * 0.85);
	font-weight: 700;
	line-height: 1.6;
}

.c-heading-echo {
	font-size: calc(18px * 0.85);
	font-weight: 300;
	line-height: 1.444;
}

.c-heading-foxtrot {
	font-size: calc(16px * 0.85);
	font-weight: 300;
	line-height: 1.5;
}
	
	.c-heading-echo::first-line,
	.c-heading-foxtrot::first-line {
		font-weight: 700;
	}

.c-heading-golf {
	font-size: calc(12px * 0.85);
	font-weight: 600;
	line-height: 1.75;
	text-transform: uppercase;
}

@media (min-width: 60em) {
	/**
	 * Large Breakpoint [60em = 960px] and Greater
	 */
	.c-heading-alpha {
		font-size: 55px;
	}
	
	.c-heading-bravo {
		font-size: 50px;
	}
	
	.c-heading-charlie {
		font-size: 30px;
	}
	
	.c-heading-delta {
		font-size: 28px;
	}
	
	.c-heading-echo {
		font-size: 18px;
	}
	
	.c-heading-foxtrot {
		font-size: 16px;
	}
		
	.c-heading-golf {
		font-size: 12px;
	}
}


.c-heading--subheading {
	font-style: italic;
	letter-spacing: 0.075em;
	text-transform: lowercase;
}






.t-prevent-events {
	pointer-events: none;
}


.t-circled-icon {
	display: inline-block;
	margin-right: 0.25em;
	padding: 0.75em;
	line-height: inherit;
	border-radius: 50%;
}


.c-keyline {
	border-color: #d8d8d8;
}


.o-site-wrapper {
	max-width: 100vw;
}


.t-wrapper {
	max-width: 100rem;
}


.c-form-input {
	border-color: rgba(205, 205, 205, 0.7);
}

.c-form-input:focus {
	border-color: #c0c0c0;
	box-shadow: none;
}


.c-form-input--large {
	padding: 0 1em;
	font-size: 0.875rem;
}


.c-form-checkbox__input:checked + .c-form-checkbox__caption::after {
	background: #0f0f0f none;
	border: 1px solid currentColor;
	box-shadow: inset 0 0 0 2px #fff;
}


.c-button--primary,
.c-button--secondary {
	padding: calc(1.5em - 2px) calc(3em - 2px);
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border-width: 2px;
}

/**
* For buttons that identify as the primary action.
*/
.c-button--primary {
	background-color: #f7f7f7;
	border-color: currentColor;
	color: #333;
	
}

	.c-button--primary:hover,
	.c-button--primary:active {
		background-color: #d8d8d8;
		border-color: currentColor;
	}

/**
* For buttons that identify as the secondary action.
*/
.c-button--secondary {
	background-color: #333;
	color: #f7f7f7;
	
}

	.c-button--secondary:hover,
	.c-button--secondary:active {
		background-color: #6e6e6e;
	}





.x-messages {
	margin-bottom: 1rem;
	padding: 0.75em 1.25em;
	font-size: 0.8125rem;
	background-color: #fff;
	border: 0 none;
	box-shadow: 0 0 0.25em;
}

.x-messages--info,
.x-messages--warning {
}


.u-text-light {
	font-weight: 300;
}


/**
 * Colossus Color Overrides
 */
.u-bg-red::before,
.u-bg-red {
	background-color: #ad1a32;
}

.u-bg-yellow::before,
.u-bg-yellow {
	background-color: #f5b51b;
}

.u-bg-blue::before,
.u-bg-blue {
	background-color: #5c597e;
}

.u-bg-green::before,
.u-bg-green {
	background-color: #307962;
}

.u-bg-black::before,
.u-bg-black {
	background-color: #333;
}

.u-bg-gray-50::before,
.u-bg-gray-50 {
	background-color: #6e6e6e;
}

.u-bg-gray-40::before,
.u-bg-gray-40 {
	background-color: #a1a1a1;
}

.u-bg-gray-30::before,
.u-bg-gray-30 {
	background-color: #b3b3b3;
}

.u-bg-gray-20::before,
.u-bg-gray-20 {
	background-color: #d8d8d8;
}

.u-bg-gray-10::before,
.u-bg-gray-10 {
	background-color: #f7f7f7;
}

.u-bg-primary::before,
.u-bg-primary {
	background-color: #fcae46;
}

.u-bg-secondary::before,
.u-bg-secondary {
	background-color: #333;
}

.u-bg-tertiary::before,
.u-bg-tertiary {
	background-color: #d7d3cf;
}

.c-button:hover.u-bg-red {
	background-color: #a00c24;
}

.c-button:hover.u-bg-yellow {
	background-color: #c7bd19;
}

.c-button:hover.u-bg-blue {
	background-color: #34638b;
}

.c-button:hover.u-bg-green {
	background-color: #007c36;
}

.c-button:hover.u-bg-black {
	background-color: #3f3f3f;
}

.c-button:hover.u-bg-gray-50 {
	background-color: #4e4e4e;
}

.c-button:hover.u-bg-gray-40 {
	background-color: #5a5a5a;
}

.c-button:hover.u-bg-gray-30 {
	background-color: #7f7f7f;
}

.c-button:hover.u-bg-gray-20 {
	background-color: #9a9a9a;
}

.c-button:hover.u-bg-gray-10 {
	background-color: #bcbcbc;
}

.c-button:hover.u-bg-white {
	background-color: #333;
	color: #fff;
}

.c-button:hover.u-bg-primary {
	background-color: #e17824;
}

.c-button:hover.u-bg-secondary {
	background-color: #3f3f3f;
}

.c-button:hover.u-bg-tertiary {
	background-color: #cbcbcb;
}

.u-border-red {
	border-color: #ad1a32;
}

.u-border-yellow {
	border-color: #f5b51b;
}

.u-border-blue {
	border-color: #5c597e;
}

.u-border-green {
	border-color: #307962;
}

.u-border-black {
	border-color: #333;
}

.u-border-gray-50 {
	border-color: #6e6e6e;
}

.u-border-gray-40 {
	border-color: #a1a1a1;
}

.u-border-gray-30 {
	border-color: #b3b3b3;
}

.u-border-gray-20 {
	border-color: #d8d8d8;
}

.u-border-gray-10 {
	border-color: #f7f7f7;
}

.u-border-primary {
	border-color: #fcae46;
}

.u-border-secondary {
	border-color: #333;
}

.u-border-tertiary {
	border-color: #d7d3cf;
}

.u-color-red {
	color: #ad1a32;
}

.u-color-yellow {
	color: #f5b51b;
}

.u-color-blue {
	color: #5c597e;
}

.u-color-green {
	color: #307962;
}

.u-color-black {
	color: #333;
}

.u-color-gray-50 {
	color: #6e6e6e;
}

.u-color-gray-40 {
	color: #a1a1a1;
}

.u-color-gray-30 {
	color: #b3b3b3;
}

.u-color-gray-20 {
	color: #d8d8d8;
}

.u-color-gray-10 {
	color: #f7f7f7;
}

.u-color-primary {
	color: #fcae46;
}

.u-color-secondary {
	color: #333;
}

.u-color-tertiary {
	color: #d7d3cf;
}





.t-defer-object {
	opacity: 0;
	overflow: hidden;
	transform-origin: top;
	transition: opacity cubic-bezier(0, 0, 0.4, 1) 0.15s, visibility cubic-bezier(0, 0, 0.4, 1) 0.15s;
	visibility: hidden;
}

.t-defer-object--loaded {
	opacity: 1;
	overflow: initial;
	visibility: visible;
}

.t-lazy-load-image {
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
	animation-name: fadeIn;
	animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
	object-fit: cover;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}





/* Global Search
   =========================================== */
.t-global-search {
	padding-top: 4rem;
	padding-bottom: 4rem;
	position: fixed;
	background-color: #fff;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	transform-origin: top center;
	transition: transform ease-in-out 0.15s;
	z-index: 5000;
}

@media (max-width: 60em) and (max-height: 60em) {
	.t-global-search {
		padding-top: 1rem;
		top: 0;
		bottom: 0;
		overflow-y: auto;
	}
}

.t-open-search {
	background-color: #fff;
}

.t-open-search:hover {
	background-color: #fff;
	border-color: currentColor;
	color: #333;
}
	
	.t-open-search span {
		vertical-align: middle;
	}

.has-active-search-preview main {
	filter: blur(4px);
	pointer-events: none;
	transition: filter linear 0.1s;
}

.has-active-search-preview .t-global-search {
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

	.t-global-search__form {
		max-width: 90rem;
		margin: 0 auto;
		position: relative;
		border-bottom: 1px solid #eaeaea;
	}

		.t-global-search__form .c-form-list__item {
		}

			.t-global-search__form .c-form-input {
				padding-right: 0;
				padding-left: 0;
			}

			.t-global-search__form .c-button {
				white-space: nowrap;
			}


	.t-search-preview {
		flex-wrap: wrap;
		position: static;
		box-shadow: none;
	}

	.x-search-preview--open:not(:empty) {
		display: flex;
		padding: 1rem;
	}

		.x-search-preview__search-all {
			flex-basis: 100%;
		}

		.t-search-preview__item {
			flex-basis: 50%;
			padding: 0.75rem;
		}

		@media (min-width: 40em) {
			.t-search-preview__item {
				flex-basis: calc(100% / 3);
			}
		}

		@media (min-width: 60em) {
			.t-search-preview__item {
				flex-basis: 20%;
			}
		}

		.t-search-preview__item.mm_searchfield_menuitem_selected {
			background-color: transparent;
		}

			.t-search-preview__link {
				cursor: pointer;
			}

			.t-search-preview__link:hover {
				box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.25);
				color: currentColor;
			}

				.t-search-preview__figure {
					margin: 0;
				}

					.t-search-preview__picture {
						display: block;
						padding: 2rem;
						background-color: #f4f4f4;
					}

						.t-search-preview__picture .t-search-preview__image {
							display: inline-block;
							margin-bottom: 0;
						}

					.t-search-preview__figure-caption {
						padding: 1rem;
					}

						.t-search-preview__name {
							font-size: 0.75rem;
							font-weight: 600;
							text-transform: uppercase;
						}






/* Site Header
   =========================================== */
.t-site-header {}

	.t-site-header__top-navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 110rem;
		margin: auto;
		font-size: 0.75rem;
		border-bottom: 1px solid rgba(205, 205, 205, 0.7);
	}
	
		.t-site-header__message {
			padding: 0.5em 1rem;
			display: inline-block;
		}
		
		.t-site-header__links {
			padding: 0.5em 1rem;
			position: relative;
			font-weight: 600;
			/*color: #a1a1a1;*/
		}
		
			.t-site-header__links:not(:last-child)::after {
				width: 1px;
				height: 1.5em;
				position: absolute;
				content: '';
				background-color: rgba(205, 205, 205, 0.7);
				opacity: 0.75;
				-webkit-transform: translateX(1rem);
				-ms-transform: translateX(1rem);
				transform: translateX(1rem);
			}

		
		.t-site-header__basket-link-quantity--mobile {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: calc(0.5em - 1px);
			font-size: 0.75rem;
			font-weight: 400;
		}

		.t-site-header__basket-link-quantity {
			display: inline-block;
			margin-right: 0.25rem;
			margin-left: 0.25rem;
			padding: 0 0.5625rem;
			font-size: 0.875em;
			font-weight: 400;
		}
		
		
		.t-global-account {
			width: 100vw;
			max-width: 22.5rem;
			padding: 1rem;
			position: absolute;
			top: calc(100% - 1rem);
			right: 0;
			border: 1px solid rgba(205, 205, 205, 0.7);
			box-shadow: 0 2px 1px -2px rgba(205, 205, 205, 0.7);
			opacity: 0;
			transition: all ease-in-out 0.15s;
			-webkit-transform: scaleY(0);
			transform: scaleY(0);
			transform-origin: top;
		}
		
		.t-global-account.is-open {
			opacity: 1;
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
		}
		
			.t-global-account__form {
				margin-bottom: 0;
			}
			
				.t-global-account__form .c-form-list__item:last-of-type {
					margin-bottom: 0;
					padding-top: 0.5em;
				}
				
				.t-global-account__form ::-ms-input-placeholder {
					font-size: 0.875rem;
				}
				
				.t-global-account__form ::-webkit-input-placeholder {
					font-size: 0.875rem;
				}
				
				.t-global-account__form ::placeholder {
					font-size: 0.875rem;
				}




		.x-mini-basket {
			position: absolute;
			top: calc(100% - 1rem);
			bottom: auto;
			left: auto;
			border: 1px solid rgba(205, 205, 205, 0.7);
			box-shadow: 0 2px 1px -2px rgba(205, 205, 205, 0.7);
			opacity: 0;
			transition: all ease-in-out 0.15s;
			-webkit-transform: scaleY(0);
			transform: scaleY(0);
			transform-origin: top;
		}

		.ie11 .x-mini-basket {
			width: 30rem;
		}

		.x-mini-basket--open {
			opacity: 1;
			-webkit-transform: scaleY(1);
			transform: scaleY(1);
		}

		.x-mini-basket-is-active:not(.has-active-navigation) {
			overflow: auto;
		}

		.t-site-header__basket-icon {
			display: inline-block;
			transition: all ease-in-out 0.3s;
		}

		.x-mini-basket-is-active .t-site-header__basket-icon {
			-webkit-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}
		
			.x-mini-basket__content {
				padding: 1.5rem;
			}
			
				.x-mini-basket__list {
					max-height: 50vh;
					margin: 0;
					padding: 0.5rem 0 0 0;
					list-style: none;
					overflow-y: auto;
				}
				
					.x-mini-basket__line {
						margin-bottom: 1.5rem;
						font-size: 1rem;
					}
					
					.x-mini-basket__line:not(:first-of-type) {
						padding-top: 1.5rem;
						border-top: 1px solid #d8d8d8;
					}
					
						@media (min-width: 40em) {
							.x-mini-basket__image {
								width: 6rem;
								height: 6rem;
								margin-right: 1.5rem;
							}
						}

						.x-mini-basket__item {
							max-width: 70%;
							flex-basis: 70%;
						}
						
						.x-mini-basket__item-name {
							margin-bottom: 0;
							text-decoration: none;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
						
						.x-mini-basket__item-attributes,
						.x-mini-basket__item-subscription {
							font-size: 0.875rem;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
			
				.x-mini-basket__footer {
					padding-top: 0.5rem;
				}
				
					.x-mini-basket__footer .x-messages {
						margin-bottom: 0;
					}
	
		
	.t-site-header__masthead {
		max-width: 100rem;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		position: relative;
	}

		.x-fasten-header {
			max-width: 100vw;
			padding: 0.5rem 0;
			position: fixed;
			background-color: #f7f7f7;
			box-shadow: 0 2px 4px rgba(128, 128, 128, 0.15);
		}
		
			.x-fasten-header .t-site-header__masthead {
				flex: 1;
				margin: auto;
				padding: 0;
			}

		.t-site-header__logo {
			margin-bottom: 0;
		}

		.t-site-header__store-name {}

		.t-site-header__store-tagline {}


		.t-site-header__masthead-links {
			align-items: center;
			justify-content: flex-end;
		}

			.t-site-header__masthead-links [class^="u-icon-"] {
				margin-right: 0.25em;
				font-size: 1.25rem;
				vertical-align: text-bottom;
			}

			.t-site-header__masthead-links a:hover {
				text-decoration: none;
				opacity: 0.75;
				transition: 0.3s;
			}

			.t-site-header__masthead-links a:first-of-type {
				margin-right: 1.5em;
				padding-top: 0.5em;
				padding-right: calc(1.5em + 1px);
				padding-bottom: 0.5em;
				border-right: 1px solid #eaeaea;
			}


		.t-site-header__masthead-customer-block {
			margin-bottom: 0;
		}


	@media (min-width: 60em) {
		.t-site-navigation {
			border-bottom: 1px solid #eaeaea;
		}
		
		.x-transfigure-navigation:hover .c-navigation__list .c-navigation__link {
			color: #adadad;
			transition: color ease-in 0.1s;
		}

		.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__list .c-navigation__link {
			color: #adadad;
		}

		.x-transfigure-navigation .c-navigation__list:hover .c-navigation__link {
			color: #0f0f0f;
			transition: color ease-out 0.1s;
		}
	}

	.x-transfigure-navigation__content {
		padding-top: 1em;
		padding-bottom: 1em;
	}

		.x-transfigure-navigation .c-navigation__link {
			font-weight: 600;
			color: #454545;
		}

		.x-transfigure-navigation .c-navigation__link:hover {
			box-shadow: none;
		}

		.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__link:hover {
			background-color: #fff;
			color: #0f0f0f;
			transition: color ease-out 0.1s;
		}

	
	
	
	
	.t-breadcrumbs {
		font-style: italic;
		text-transform: lowercase;
	}
	
		.x-collapsing-breadcrumbs .o-list-inline__item:not(:last-of-type)::after {
			font-weight: 400;
		}
	
		.x-collapsing-breadcrumbs__group,
		.x-collapsing-breadcrumbs__list {
			margin-bottom: 0;
			padding: 3rem 0 0.5em;
			font-size: 0.75rem;
			line-height: 2;
			border-bottom: 0 none;
		}

		.x-collapsing-breadcrumbs__group:not(.u-hidden) + .x-collapsing-breadcrumbs__list {
			padding-top: 0;
		}
		
		
.t-page-title {
	font-size: 2.25rem;
}

		
		
		

/* Main Element
     =========================================== */
.t-main-content-element {
	max-width: 80rem;
}

		
		

/* Site Footer
    =========================================== */
.t-site-footer {
	padding-top: 1rem;
}

	.t-site-footer .o-wrapper {
		max-width: 100rem;
	}
	
	@media (max-width: 39.9em) {
		.o-list-inline__item.t-site-footer__headlines-title {
			display: block;
			margin-right: 0;
			margin-bottom: 0.5em;
		}
		
		.t-site-footer__headlines-detail {
			font-size: 0.75rem;
		}
	}

	.t-site-footer__content,
	.t-site-footer__disclaimer {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	
		.t-site-footer .c-collapsible-menu__label {
			padding-bottom: 0.75em;
			border-bottom: 1px solid #d8d8d8;
		}

		.t-site-footer .c-menu__title {
			margin-bottom: 0.25em;
		}

			.t-site-footer__headlines .o-list-inline {
				margin-bottom: 0;
			}

			.t-site-footer__headlines .o-layout__item {
				margin-bottom: 1rem;
			}

			.t-site-footer__headlines .o-layout__item:not(:first-child) {
				border-left: 1px solid #d8d8d8;
			}


	.t-global-footer-social-links a {
		text-decoration: none;
	}

	@media (max-width: 59.9em) {
		.t-newsletter-form {
			max-width: 90%;
			margin-right: auto;
			margin-left: auto;
		}
		
			.t-newsletter-form .c-menu__title {
				margin-bottom: 1rem;
				font-size: 0.75rem;
			}
			
			.t-newsletter-form .c-control-group {
				margin-right: auto;
				margin-left: auto;
			}
	
			.c-collapsible-menu__label {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		
			.c-collapsible-menu__label::after {
				display: inline-block;
				font-size: 1rem;
				line-height: 1;
				content: '+';
			}
		
			.t-site-footer .c-collapsible-menu .c-menu__title {
				display: none;
			}
			
			.t-site-footer .c-collapsible-menu .c-menu__list {
				display: block;
				max-height: 0;
				margin-bottom: 2rem;
				opacity: 0;
				overflow: hidden;
				visibility: hidden;
				transition-delay: 0.15s, 0s, 0s;
			}
			
			.t-site-footer .c-collapsible-menu__trigger:checked ~ .c-menu__list {
				display: block;
				max-height: 25em;
				margin-top: 1em;
				opacity: 1;
				overflow: hidden;
				transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
				transition-delay: 0s;
				visibility: visible;
			}
		
			.c-collapsible-menu__trigger:checked ~ .c-collapsible-menu__label::after {
				content: '-';
			}
		
			.c-collapsible-menu__trigger:checked ~ .c-menu__list {
				display: block;
				max-height: 25em;
				margin-top: 1em;
				opacity: 1;
				overflow: hidden;
				transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
				transition-delay: 0s;
				visibility: visible;
			}
	}
	
	
	@media (min-width: 60em) {
		.t-site-footer .c-collapsible-menu__label {
			display: none;
		}
		
		.t-site-footer {
			padding-top: 2rem;
		}
		
			.t-site-footer__content {
				padding-top: 5rem;
				padding-bottom: 5rem;
			}
	}

.t-logo-image {
	-webkit-transform: scale(0.50);
	-ms-transform: scale(0.50);
	transform: scale(0.50);
	transform-origin: top left;
}

.t-site-copyright {
	max-width: 100rem;
	padding-top: 1rem;
}





/* Slick Slider Overrides
	=========================================== */
.slick-slider.slick-initialized {
	opacity: 1;
	overflow: visible;
	visibility: visible;
}

	.slick-slider--left .slick-track {
		margin-left: 0;
	}

	.slick-slider--right .slick-track {
		margin-right: 0;
	}
	
		.slick-disabled {
		}

		.slick-prev,
		.slick-next {
			width: 3rem;
			height: 3rem;
			background-color: #fff;
			z-index: 300;
		}

		.slick-next {
			right: 0;
		}

		.slick-prev {
			left: -1.5rem;
			-webkit-transform: translate(50%, -50%);
			-ms-transform: translate(50%, -50%);
			transform: translate(50%, -50%);
		}

		.slick-prev::before,
		.slick-next::before {
			color: #333;
			font-size: 0.75rem;
		}

		.slick-next::before {
			content: '\33';
		}

		.slick-prev::before {
			content: '\32';
		}

		.slick-prev:hover,
		.slick-prev:focus,
		.slick-next:hover,
		.slick-next:focus {
			background-color: #fff;
			box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.25);
		}





/* Storefront
    =========================================== */
.t-expanded-block {
	width: 95vw;
	max-width: 110rem;
	margin-left: 0;
	position: relative;
	left: calc(50% - 50vw);
	-webkit-transform: translateX(calc(50vw - 50%));
	-ms-transform: translateX(calc(50vw - 50%));
	transform: translateX(calc(50vw - 50%));
}

.t-expanded-block[class*="u-bg-"]::before {
	left: 0;
}

	.t-expanded-block__item {
		width: 100%;
		max-width: 100rem;
		margin: auto;
		padding-right: 1rem;
	}
	
	.t-expanded-block__item.o-layout {
		padding-right: 0;
	}





.t-storefront-banners,
.t-storefront-promos {
	display: flex;
	flex-direction: column;
}

.t-storefront-banners {
	/*padding-left: 1rem;*/
}

	.t-storefront-banner__item {
		display: block;
		padding: 1em 1rem;
	}

.t-storefront-promos {}

.t-storefront-promos.o-layout {
	padding-right: 1rem;
}

	.t-storefront-promo__item {
		display: block;
		margin: 0 0 1rem;
		position: relative;
		text-align: center;
	}
	
		.t-storefront-promo__item a {
			display: inline-block;
			position: relative;
		}
	
		.t-storefront-promo__caption {
			display: flex;
			width: calc(100% - 2rem);
			height: 6.5rem;
			padding: 1rem;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 1rem;
			left: 50%;
			font-weight: 600;
			background-color: rgba(51, 51, 51, 0.9);
			color: #fff;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
		}

	.t-storefront-banners .t-storefront-banner__item:not(:last-of-type) {
		border-bottom: 1px solid #d8d8d8;
	}

	@media (min-width: 40em) {
		.t-storefront-banners,
		.t-storefront-promos {
			flex-direction: row;
			flex-wrap: wrap;
			padding-top: 1em;
		}

		.t-storefront-banners.o-layout {
			padding-right: 1rem;
			padding-left: 0;
		}

		.t-storefront-promos {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

			.t-storefront-banner__item {
				margin-bottom: 0.5rem;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}

			.t-storefront-banners .t-storefront-banner__item:not(:last-of-type) {
				border-bottom: 0 none;
				border-right: 1px solid #d8d8d8;
			}
	}

	@media (min-width: 65em) {
		.t-storefront-banners.o-layout,
		.t-storefront-promos.o-layout {
			padding-right: 0;
		}

		.t-storefront-promos {
			padding-top: 5rem;
			padding-bottom: 5rem;
			overflow: hidden;
		}

			.t-storefront-promo__caption {
				width: calc(100% - 5rem);
				height: 6.5rem;
				padding: 0 2.5rem;
				bottom: 2.5rem;
			}
	}





.t-storefront-featured-products {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: 1rem 0 no-repeat;
	background-size: cover;
}

	.t-storefront-featured-product-description {
		width: 100%;
		padding: 2rem 1rem;
	}

		.t-storefront-featured-product-description__headline,
		.t-storefront-featured-product-description__text {
			margin-bottom: 2rem;
		}

		.t-storefront-featured-product-description__cta {
			padding-right: calc(6em - 2px);
			padding-left: calc(6em - 2px);
			color: #fff;
		}

	.t-storefront-featured-product-list {
		width: 100%;
		margin-bottom: 0;
		position: relative;
		top: 10%;
		z-index: 500;
	}


@media (min-width: 60em) {
	.t-storefront-featured-products {
		margin-top: 5rem;
		margin-bottom: -6rem;
		background-size: auto;
	}

		.t-storefront-featured-product-description {
			padding-top: 7.5rem;
			padding-bottom: 12rem;
		}


		.t-storefront-featured-product-list {
			max-width: 96.5rem;
			top: -6rem;
		}
}

@media (min-width: 90em) {
	.t-storefront-featured-product-description {
	}

}





.t-spotlight {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

	.t-spotlight__wrap {
		justify-content: space-between;
		position: relative;
	}

		.t-spotlight__figure {
			margin: 0 0 0 -1rem;
			position: relative;
			z-index: 5;
		}

		
			.t-spotlight__figure a {
				display: inline-block;
				position: relative;
			}
			
			.t-spotlight__figure-text {
				display: flex;
				width: 7rem;
				height: 7rem;
				padding: 1rem;
				align-items: center;
				justify-content: center;
				position: absolute;
				bottom: 0.5rem;
				right: 0.5rem;
				font-size: 0.75rem;
				font-weight: 600;
				text-transform: uppercase;
				background-color: rgba(51, 51, 51, 1);
				color: #fff;
			}
		
		.t-spotlight__figure--highlighted {
			margin: 3rem -1rem 0 calc(100% / 12 * 3);
			z-index: 1;
		}

		.t-spotlight__figure--highlighted::before {
			width: 115%;
			height: 125%;
			position: absolute;
			top: calc(-50%);
			left: calc(-15%);
			background: linear-gradient(128deg, #ffba60 0%, #fed9a9 64%, #ff9100 100%);
			content: '';
			z-index: -1;
		}

		.t-spotlight__caption {
			padding: 3rem 1rem 0;
		}

@media (min-width: 60em) {
	.t-spotlight {
		padding-top: 6rem;
		padding-bottom: 4rem;
	}

	.t-spotlight__figure {
		margin: 0;
	}

		.t-spotlight__figure-text {
			width: 10rem;
			height: 10rem;
			padding: 2rem;
			bottom: 1.5rem;
			right: 1.5rem;
			font-size: 0.875rem;
		}
	
	.t-spotlight__figure--highlighted {
		margin: 20% 0 0;
	}

	.t-spotlight__figure--highlighted:before {
		height: 95%;
		top: -24%;
		left: -40%;
	}

	.t-spotlight__caption {
		max-width: 41.666%;
		padding: 0 0 4rem 1rem;
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: calc(16px * 1.333);
		z-index: 10;
	}
}

@media (min-width: 85em) {
	.t-spotlight__caption {
		padding: 8rem 0 9.5rem 1rem;
	}
}



.t-featured-categories {
	margin-bottom: 2rem;
	padding-top: 3rem;
}

	.t-featured-categories__heading {
		margin-bottom: 1em;
	}

	.t-featured-categories .x-product-list__link {
	}

		.t-featured-categories .x-product-list__action .c-button {
			padding-right: calc(1rem * 4.5 - 1px);
			padding-left: calc(1rem * 4.5 - 1px);
		}
		
		.t-featured-categories .x-product-list__name {
			height: auto;
			padding-bottom: 0;
		}





/* Category Tree
    =========================================== */
.x-category-tree__label {
	color: #4a4a4a;
	font-size: 0.875rem;
	background-color: transparent;
	border: 1px solid currentColor;
}

.x-category-tree__link {
	text-decoration: none;
}


.t-accordion-category-tree {
	padding-bottom: 7.5rem;
}

.t-accordion-category-tree .x-accordion-category-tree__link,
.t-accordion-category-tree .x-accordion-category-tree__toggle {
	text-decoration: none;
	color: #6e6e6e;
}

.t-accordion-category-tree .x-accordion-category-tree__link--current,
.t-accordion-category-tree .x-accordion-category-tree__link:hover,
.t-accordion-category-tree .x-accordion-category-tree__link--current + .x-accordion-category-tree__toggle {
	color: #333;
}

.t-accordion-category-tree .x-accordion-category-tree__list--level-1:not(:last-of-type) {
	border-color: rgba(205, 205, 205, 0.7);
}


.t-faceting .c-form-checkbox {
	font-size: 14px;
}





/* Category Page
    =========================================== */
.t-category-title-images {
	padding-top: 3rem;
	padding-bottom: 1.5rem;
}

	.t-category-title-images .x-hero {
		padding-bottom: 1.5rem;
	}





.t-category-title-sort {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	/*justify-content: center;*/
	padding-bottom: 1rem;
}

	.t-category-title-sort h1 {
		margin-right: auto;
	}





.t-subcategory-navigation {
	padding-bottom: 1.5rem;
	opacity: 0;
	overflow: hidden;
	transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s;
	visibility: hidden;
}

.t-subcategory-navigation:empty {
	margin: 0;
	padding: 0;
}

	
	.t-subcategory-navigation .slick-next,
	.t-subcategory-navigation .slick-prev {
		top: calc(50% - 1rem);
	}

	.t-subcategory-navigation__item {
		padding: 0.75rem;
	}

		.t-subcategory-navigation__link {
			text-decoration: none;
		}

		.t-subcategory-navigation__link:hover {
			box-shadow: 0 0 1rem 0 rgba(51, 51, 51, 0.25);
			color: currentColor;
		}

			.t-subcategory-navigation__figure {
				margin: 0;
			}

				.t-subcategory-navigation__picture {
					display: block;
					padding: 2rem;
				}

					.t-subcategory-navigation__picture .t-subcategory-navigation__image {
						display: inline-block;
						margin-bottom: 0;
					}

				.t-subcategory-navigation__figure-caption {
					padding: 1rem;
				}

					.t-subcategory-navigation__name {
						font-size: 0.75rem;
						font-weight: 600;
						line-height: 1.5;
						text-transform: uppercase;
					}





.t-display-list-filtering {
	width: 100%;
	flex-wrap: nowrap;
}

	.t-filters-trigger {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 50%;
		padding: 1em 1rem;
		position: relative;
		color: #333;
		font-size: 0.75rem;
		font-weight: 600;
		text-align: left;
		background-color: #fff;
		border: solid rgba(205, 205, 205, 0.7);
		border-width: 1px 0 1px 1px;
		cursor: pointer;
		outline: none;
	}
	
		.t-filters-trigger > *:not(:empty) {
			padding-right: 0.25em;
			padding-left: 0.25em;
			pointer-events: none;
		}

	.t-display-list-filtering .x-display-list-filtering__per-page,
	.t-display-list-filtering .x-display-list-filtering__sort-by {
		flex: 1 1 auto;
		margin-right: 0;
	}

	.t-display-list-filtering .x-display-list-filtering__per-page,
	.t-display-list-filtering .x-display-list-filtering__sort-by,
	.t-display-list-filtering .c-form-list__item,
	.t-display-list-filtering .c-form-label,
	.t-display-list-filtering .c-form-select {
		margin-bottom: 0;
	}

		.t-display-list-filtering .c-form-label {
			font-size: 0.6875rem;
		}

		.t-display-list-filtering .c-form-select__dropdown {
			padding: 0;
			font-size: 0.75rem;
			background-color: #fff;
			border: 0 none;
			color: initial;
		}
		
@media (min-width: 60em) {
	.t-display-list-filtering {
		width: auto;
	}
	
		.t-filters-trigger {
			display: none;
		}
	
			.t-display-list-filtering .x-display-list-filtering__per-page:not(:last-child),
			.t-display-list-filtering .x-display-list-filtering__sort-by:not(:last-child) {
				margin-right: 1rem;
			}
		
			.t-display-list-filtering .x-display-list-filtering__per-page:last-child,
			.t-display-list-filtering .x-display-list-filtering__sort-by:last-child {
				margin-right: 0;
			}
}


.t-pagination {
	margin-bottom: 5rem;
	padding-top: 3rem;
}

.t-pagination.x-pagination--centered {
	width: 13rem;
	justify-content: center;
}

	.t-pagination .o-list-inline {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

		.t-pagination__button {
			display: inline-flex;
			padding: 1em;
			font-size: 0.75rem;
			text-decoration: none;
		}

		.t-pagination__button:hover,
		.t-pagination__button:focus,
		.t-pagination__button:hover,
		.t-pagination__button:focus {
			box-shadow: 0 0 0.5rem 0 rgba(51, 51, 51, 0.25);
		}
		
		.t-pagination .c-form-select {
			margin-bottom: 0;
		}
			
			.t-pagination .x-custom-select__title {
				border: 0 none;
			}

			





.t-subcategories-products {
	padding-top: 2rem;
}

.t-subcategories-products .t-primary-link {
	display: inline-block;
	margin-left: 1em;
	font-size: 0.5em;
	font-weight: 400;
	text-transform: uppercase;
	color: #a1a1a1;
}

.t-subcategories-products .t-primary-link:hover {
	text-decoration: underline;
}

.t-subcategory-product-list:not(:last-of-type) {
	margin-bottom: 4rem;
	border-bottom: 1px solid #f5f5f5;
}

.t-subcategory-product-list__heading {
	position: relative;
}

	.t-subcategory-product-list__heading .slick-prev {
		right: 6rem;
		left: auto;
	}

.x-product-list--slicked {
	opacity: 0;
	overflow: hidden;
	transition: opacity ease-in-out 0.3s, visibility ease-in-out 0.3s;
	visibility: hidden;
}

.x-product-list__item {
	margin-bottom: 0;
	padding: 0.75rem;
}

	.x-product-list__link {
		text-decoration: none;
	}

	.x-product-list__link:hover {
		background-color: #fff;
		box-shadow: 0 0 1.5rem 0 rgba(51, 51, 51, 0.25);
		color: currentColor;
	}

		.x-product-list__figure {
			margin: 0;
		}

			.x-product-list__picture {
				display: block;
				padding: 1rem;
			}

				.x-product-list__image,
				.x-product-list--slicked .x-product-list__image {
					display: inline-block;
					margin-bottom: 0;
				}

			.x-product-list__figure-caption {
				padding: 1.5rem 1rem;
			}

				.x-product-list__price {
					display: inline-block;
					padding-right: 0.5em;
					padding-left: 0.5em;
					font-size: 1.125rem;
					font-weight: 600;
				}

				.x-product-list__name {
					height: 3.75em;
					padding-bottom: 2rem;
					font-size: 0.875rem;
				}





/* Product Page
    =========================================== */
.x-product-layout {
}

	.x-product-layout-images {
		position: relative;
	}
	
		.x-product-label {
			display: inline-block;
			padding: 0.125em 3.5em;
			position: absolute;
			top: 2em;
			right: 2.5em;
			user-select: none;
		}
		
@media (min-width: 48em) {
	.x-product-layout {
		padding-top: 2rem;
		padding-bottom: 6rem;
	}
}

@media (min-width: 60em) {
	.x-product-layout-purchase .c-form-list {
		padding-left: calc(100% / 12);
	}
}


	.x-product-layout-purchase__name {
		margin-bottom: 1.125rem;
		font-size: 1.5rem;
		font-weight: 400;
	}
	
	.x-product-layout-purchase__sku {
		display: block;
		color: #6e6e6e;
		font-size: 0.5em;
		font-weight: 600;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	
	.x-product-layout-purchase__pricing {
		margin-bottom: 2.5rem;
		font-size: 1.5rem;
		font-weight: 600;
	}

	.x-product-layout-purchase__pricing-current {
	}
	
	.x-product-layout-purchase__pricing-original {
		font-size: 0.5em;
	}
	
	.x-product-layout-purchase__pricing-original span:not(:empty)::before {
		padding-right: 0.5em;
		padding-left: 0.5em;
		content: attr(data-prompt);
	}
	
	
	.x-product-layout-purchase__inventory-message:not(:empty){
		margin-bottom: 1rem;
		padding: 0.75em 0;
		color: #307962;
		font-size: 0.8125rem;
		border: 0 none;
	}
	
	
	.x-product-layout-purchase .is-required {
		font-weight: 600;
	}
	
	.x-product-layout-purchase__options {
		display: flex;
		width: auto;
		max-width: none;
	}

		.x-product-layout-purchase__options-attribute {
			flex-basis: 100%;
			margin-bottom: 2rem;
		}

			.x-product-layout-purchase__options-attribute .c-form-label {
				margin-bottom: 1em;
				font-size: 0.75rem;
				letter-spacing: 0.075em;
				text-transform: uppercase;
			}


	.ie11 .t-page-patr .x-product-layout-purchase__options {
		display: block;
	}
	
	
	

	

.t-product-layout-purchase__quantity {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	border: solid #a1a1a1;
	border-width: 1px 0 1px 1px;
}

	.t-product-layout-purchase__quantity label {
		margin-right: 0.25em;
		margin-bottom: 0;
	}
	
	.t-product-layout-purchase__quantity input {
		max-width: 6ch;
		height: auto;
		margin: 0;
		padding: 0 0.5ch;
		color: #333;
		border: 0 none;
		line-height: inherit;
	}

@media (min-width: 30em) {
	.t-product-layout-purchase__quantity {
		flex-direction: row;
		justify-content: center;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
	
		.t-product-layout-purchase__quantity input {
			border-style: dotted;
			border-width: 0 0 1px;
		}
}

.t-product-layout-purchase__add-to-cart {
	flex-grow: 1;
}

	.t-product-layout-purchase__add-to-cart input {
		height: 100%;
		letter-spacing: 0.075em;
	}

.t-product-layout-purchase__add-to-wish button {
	padding-right: calc(1em - 1px);
	padding-left: calc(1em - 1px);
}

.t-product-layout-purchase__add-to-wish button:hover {
	background-color: #fff;
	color: #ad1a32;
}


.x-product-description {
	margin-bottom: 6rem;
	padding-top: 6rem;
}

	.t-product-description__article {
		max-width: 60rem;
		margin: auto auto 5rem;
	}
	
		.t-product-description__article .c-table-simple__row:last-of-type {
			border-bottom: 0 none;
		}
	
		.t-product-description__article .c-table-responsive__cell {
			white-space: nowrap;
		}
		
		.t-product-description__article .c-table-responsive__cell:last-child {
			width: 100%;
		}
		
		@media screen and (max-width: 47.9em) {
			.t-product-description__article .c-table-responsive__cell {
				padding: 40px 0 15px 0;
			}
			
			.t-product-description__article .c-table-responsive__cell:last-child {
				padding: 0 0 40px 0;
			}
		}

	.t-show-more {
		max-height: calc(25vw + 5rem);
		position: relative;
		overflow: hidden;
	}
	
	.t-show-more--active {
		max-height: 100%;
		overflow: visible;
	}
	
	.t-show-more__toggle {
		display: block;
		width: 100%;
		padding: 2.25rem 0.5rem 0.5rem 0.5rem;
		position: absolute;
		bottom: 0;
		color: #333;
		font-size: 0.75rem;
		font-weight: 600;
		text-align: left;
		text-transform: uppercase;
		background: linear-gradient(to bottom, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 0.7) 32%, rgba(247, 247, 247, 1) 38%, rgba(247, 247, 247, 1) 100%);
		border: 0 none;
		cursor: pointer;
		outline: none;


	}
	
	.t-show-more__toggle-text {
		display: inline-block;
		padding-bottom: 0.125rem;
		border-bottom: 1px solid currentColor;
	}
	
	.t-show-more--active .t-show-more__toggle {
		position: relative;
		bottom: auto;
	}

		
.t-related-products {
	margin-bottom: 2rem;
	padding: 1.5rem 1.5rem 0;
}

	@media (min-width: 60em) {
		.t-related-products {
			padding-top: 5rem;
		}
	}

	.t-related-product-list {
		max-width: 96.5rem;
		margin: auto;
		padding-bottom: 2rem;
	}
	
		.t-related-product-list__heading {
			position: relative;
		}
		
			.t-related-product-list__heading .slick-prev {
				right: 6rem;
				left: auto;
			}
			
		.t-related-product-list .x-product-list {
			margin-bottom: 0;
		}
	





/* Basket Page
    =========================================== */
.t-basket__product-summary .c-table-responsive__row,
.t-basket__order-summary .c-table-simple__row {
	border-color: #eaeaea;
}

.t-basket__product-summary thead {
	border-top: 1px solid #eaeaea;
}

.t-basket__product-summary tbody .c-table-responsive__cell {
	padding-top: 1.5rem;
}


.t-basket__product-details {
	font-size: 0.875rem;
	font-weight: 600;
}


.t-basket-update {
	display: inline-block;
}
	.t-basket-update .x-quantify {
		width: 10em;
		font-size: 0.875rem;
	}

		.t-basket-update .x-quantify .c-control-group__button {
			padding-top: calc(0.625em * 2 + 1px);
			padding-bottom: calc(0.625em * 2 + 1px);
			font-size: 0.875em;
		}

		.t-basket-update .x-quantify .c-control-group__button,
		.t-basket-update .x-quantify .c-control-group__field {
			max-width: calc(100% / 3);
			flex-basis: calc(100% / 3);
			border-color: #c0c0c0;
		}

	
.t-basket__product-remove {
	width: 3em;
	height: 3em;
	padding: 0;
	line-height: 3;
}

.t-basket__basket-coupon-form-toggle:checked ~ label > .u-icon-add::before {
	content: "\3c";
}

.t-basket__basket-coupon-form-toggle:checked ~ .t-basket__coupon-form {
	height: 3rem;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.t-basket__coupon-form {
	height: 0;
	margin-bottom: 0;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	transform-origin: top;
	transition: all ease-in-out 0.2s;
}

.t-basket__basket-shipping-form-toggle:checked ~ .t-basket__shipping-form {
	max-height: 32rem;
	opacity: 1;
	overflow: visible;
	visibility: visible;
}

.t-basket__shipping-form {
	max-height: 0;
	margin-bottom: 0;
	opacity: 0;
	overflow: hidden;
	transition: all ease-in-out 0.2s;
	visibility: hidden;
}

	.t-basket__shipping-form .c-form-list__item {
		margin-right: auto;
		margin-left: auto;
	}





/* Checkout Pages
    =========================================== */
.t-ocst-account-message {
	padding: 1em 2em;
	font-size: 0.75rem;
	text-align: center;
}

	.t-checkout-log-in__form {
		display: block;
		max-height: 0;
		margin-bottom: 0;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: scaleY(0);
		-ms-transform: scaleY(0);
		transform: scaleY(0);
		transform-origin: top;
	}

	.t-checkout-log-in__trigger:checked ~ .t-checkout-log-in__form {
		display: block;
		max-height: none;
		padding-top: 1em;
		opacity: 1;
		overflow: hidden;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		transition: visibility 0s ease, transform 0.3s ease, opacity 0.3s ease;
		transition-delay: 0s;
		visibility: visible;
	}





.t-checkout-basket-summary {
	height: calc(100% - 1rem);
	padding: 2rem 2rem 0;
}

	.t-checkout-basket-summary__product-summary tbody .c-table-simple__cell {
		padding-top: 1.5rem;
	}

	.t-checkout-basket-summary__image {
		margin-right: 2rem;
	}
	
	.t-checkout-basket-summary__promo-form,
	.t-checkout-basket-summary__promo-form:first-child,
	.t-checkout-basket-summary__promo-form:last-child {
		display: block;
		margin: -1px -2rem;
		padding-right: 2rem;
		padding-left: 2rem;
		background-color: #dedede;
	}

@media (max-width: 59.9em) {
	.t-page-ocst .t-site-header__logo,
	.t-page-osel .t-site-header__logo,
	.t-page-opay .t-site-header__logo,
	.t-page-invc .t-site-header__logo {
		flex-basis: calc(100% / 12 * 12);
		max-width: calc(100% / 12 * 12);
	}
}
	
@media (min-width: 90em) {
	.t-page-ocst .t-main-content-element,
	.t-page-osel .t-main-content-element,
	.t-page-opay .t-main-content-element {
		max-width: none;
		padding-right: 0;
		padding-left: 0;
	}

	
		.t-checkout-basket-summary {
			height: 100%;
		}
		
			.t-checkout-basket-summary .c-table-simple {
			}
		
				.t-checkout-basket-summary__promo-form,
				.t-checkout-basket-summary__promo-form:first-child,
				.t-checkout-basket-summary__promo-form:last-child {
					margin: -1px 0;
				}
				
				
	.t-page-ocst .t-site-footer,
	.t-page-osel .t-site-footer,
	.t-page-opay .t-site-footer {
		padding-top: 0;
	}
	
		.t-page-ocst .t-site-footer__disclaimer,
		.t-page-osel .t-site-footer__disclaimer,
		.t-page-opay .t-site-footer__disclaimer {
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: left;
		}
		
			.t-page-ocst .t-site-footer__disclaimer .o-layout__item,
			.t-page-osel .t-site-footer__disclaimer .o-layout__item,
			.t-page-opay .t-site-footer__disclaimer .o-layout__item {
				flex: 0;
				white-space: nowrap;
			}
}

@media (min-width: 48em) {
	.t-payment-cta {
		flex-grow: 0;
	}
	
	.t-payment-form {
		justify-content: center;
	}
		.t-payment-form .o-layout__item {
			display: flex;
			max-width: 75%;
			align-items: center;
		}
		
			.t-payment-form .c-form-label {
				width: 25%;
				margin-right: 1rem;
			}
			
			.t-payment-form .c-form-input {
				max-width: 50%;
			}
			
				.t-payment-form .c-form-input--cvv {
					max-width: 25%;
					margin-right: 0.5rem;
				}
			
			.t-payment-form .c-control-group {
				max-width: 50%;
				flex-grow: 1;
			}
}


	.t-checkout-customer-summary {
		margin-bottom: 1rem;
		padding: 1rem 2rem 0;
	}

	.ie11 .t-checkout-customer-summary {
		padding: 1rem 1rem 0;
	}


	.t-page-invc .t-checkout-customer-summary {
		padding-top: 0;
	}






/* Account Landing Page
    =========================================== */
.t-account-page-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

	.t-account-page-header__link {
		display: block;
		font-size: 0.45em;
		font-style: normal;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	.t-account-page-header__link:hover {
		text-decoration: underline;
	}
	
	.t-account-page-header > * {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	
	.t-account-page-header .c-button {
		font-weight: 600;
		letter-spacing: 0.25em;
		border-width: 2px;
	}

		@media (min-width: 60em) {
			.t-account-page-header .c-button {
				padding: calc(0.5em * 3 - 1px) calc(1em * 3 - 1px);
			}
		}

	
	
.t-account-navigation {
	display: flex;
	align-items: center;
	height: 3em;
	margin: 1.25rem auto 1.75rem;
	position: relative;
}

	.t-account-navigation__list {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 90rem;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	
		.t-account-navigation__list-item {
			flex-shrink: 0;
		}

		.t-account-navigation__list-item:not(:first-child) {
		}
		
			.t-account-navigation__link {
				display: inline-flex;
				align-items: center;
				height: 3em;
				margin: 0 1rem;
				color: #6e6e6e;
				font-weight: 600;
				text-decoration: none;
			}
			
			.t-account-navigation__link--current {
				box-shadow: inset 0 -0.2ch 0 0 currentColor;
			}
			
			@media (hover: hover) {
				.t-account-navigation__link:hover {
					color: #333;
					box-shadow: inset 0 -0.2ch 0 0 currentColor;
				}
				
			}

	.t-account-navigation__shadow {
		width: 4.5em;
		height: 3em;
		position: absolute;
		top: 0;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), #f7f7f7 80%);
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.1s;
	}
		
		.t-account-navigation__shadow.is-visible {
			opacity: 1;
		}
		
		.t-account-navigation__shadow--start {
			left: 0;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		
		.t-account-navigation__shadow--end {
			right: 0;
		}
		
@media (pointer: coarse) {
	.t-account-navigation {
		overflow: hidden;
	}

		.t-account-navigation__list {
			height: 4.5em;
		}
}


.t-account-landing-section {
	margin-bottom: 2rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

	.t-page-ocst .t-account-landing-section,
	.t-page-osel .t-account-landing-section,
	.t-page-opay .t-account-landing-section {
		margin-bottom: 0;
	}


	.t-account-landing-section__header {}

		.t-account-landing-section__heading {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.8;
		}
	
			@media (min-width: 48em) {
				.t-account-landing-section__heading {
					font-size: 25px;
				}
			}

			.t-account-landing-section__heading .c-heading--subheading {
				display: block;
				color: #6e6e6e;
				font-style: normal;
				line-height: 1;
				text-transform: none;
			}

	.t-account-landing-section__content {
		padding-top: 1.25rem;
		padding-right: 1rem;
		padding-bottom: 1rem;
	}

		.t-account-landing__order-list:not(.t-account-landing__order-list--subscriptions) {
			padding-top: 1rem;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
			
			.t-account-landing__order-list .c-table-responsive {
				margin: 0;
			}

				.t-account-landing__order-list--subscriptions tbody .c-table-responsive__row {
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				}

					.t-account-landing__subscription-product {
						display: flex;
						align-items: center;
					}

						.t-account-landing__subscription-product picture {
							display: none;
						}

						
		.t-account-landing__customer-credit .t-account-landing-section__content,
		.t-account-landing__saved-cards .t-account-landing-section__content {
			margin-bottom: 2rem;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

			.t-account-landing__saved-cards img {
				display: inline-block;
				height: 1.5em;
				margin-right: 0.25em;
				vertical-align: text-bottom;
			}

		@media screen and (min-width: 48em) {
			.t-account-landing__customer-credit .t-account-landing-section__content,
			.t-account-landing__saved-cards .t-account-landing-section__content {
				border-bottom: 0 none;
			}
		}

		@media screen and (min-width: 60em) {
			.t-account-landing__order-list {
				padding: 1.5rem 2.5rem;
				transition: box-shadow 0.3s ease;
			}

			.t-account-landing__order-list--subscriptions {
				padding: 0;
				border-bottom: 0 none;
			}

				.t-account-landing__order-list .c-table-responsive__row {
					display: flex;
				}

				.t-account-landing__order-list--subscriptions thead .c-table-responsive__row,
				.t-account-landing__order-list--subscriptions tbody .c-table-responsive__row {
					align-items: center;
					padding: 0 1rem;
				}

				.t-account-landing__order-list--subscriptions tbody .c-table-responsive__row {
					padding: 1rem;
				}

					.t-account-landing__order-list .c-table-responsive__cell {
						flex: 1;
					}

					.t-account-landing__order-list .c-table-responsive__cell:last-child {
						display: flex;
						align-items: center;
						flex: 0 0 10rem;
						justify-content: flex-end;
						border-left: 1px solid rgba(0, 0, 0, 0.1);
					}

					.t-account-landing__order-list--subscriptions .c-table-responsive__cell:last-child {
						display: table-cell;
						flex: 0 0 15rem;
						text-align: right;
						border-left: 0 none;
					}

						.t-account-landing__subscription-product picture {
							display: inline-block;
							margin-right: 1.5em;
							padding: 0.5em;
							border: 1px solid rgba(0, 0, 0, 0.1);
						}


					.ie11 .t-account-landing__order-list .c-table-responsive__cell:not(:last-child) {
						display: block;
						flex-basis: 20%;
					}

					.ie11 .t-account-landing__order-list--subscriptions .c-table-responsive__cell {
						display: block;
						flex-basis: 25%;
					}

						
			.t-account-landing__customer-credit,
			.t-account-landing__saved-cards,
			.t-account-landing__wish-lists {
				border-right: 1px solid rgba(0, 0, 0, 0.1);
			}

			.t-account-landing__wish-lists {
				padding-right: 3rem;
			}
			
				.t-account-landing__customer-credit .t-account-landing-section__content,
				.t-account-landing__saved-cards .t-account-landing-section__content,
				.t-account-landing__wish-lists .t-account-landing-section__content {
					margin-bottom: 0;
					border-bottom: 0 none;
				}
				
				.t-account-landing__customer-credit .t-account-landing-section__header,
				.t-account-landing__customer-credit .t-account-landing-section__content {
					padding-right: 3rem;
				}
				
				.t-account-landing__saved-cards .t-account-landing-section__header,
				.t-account-landing__saved-cards .t-account-landing-section__content {
					padding-right: 3rem;
					padding-left: 1rem;
				}
				
				.t-account-landing__address-book .t-account-landing-section__header,
				.t-account-landing__address-book .t-account-landing-section__content,
				.t-account-landing__customer-service .t-account-landing-section__header,
				.t-account-landing__customer-service .t-account-landing-section__content {
					padding-left: 1rem;
				}
				
				.t-account-landing__wish-lists .c-table-responsive__cell--flush {
					display: block;
					width: 100%;
				}
				
					.t-account-landing__wish-lists .c-table-responsive__cell--flush a {
						display: flex;
						align-items: center;
						justify-content: space-between;
					}
				
		}





/* Customer Profile
    =========================================== */
.t-page-abal .x-collapsing-breadcrumbs__group,
.t-page-abal .x-collapsing-breadcrumbs__list,
.t-page-acrt .x-collapsing-breadcrumbs__group,
.t-page-acrt .x-collapsing-breadcrumbs__list,
.t-page-acln .x-collapsing-breadcrumbs__group,
.t-page-acln .x-collapsing-breadcrumbs__list,
.t-page-cabk .x-collapsing-breadcrumbs__group,
.t-page-cabk .x-collapsing-breadcrumbs__list,
.t-page-cada .x-collapsing-breadcrumbs__group,
.t-page-cada .x-collapsing-breadcrumbs__list,
.t-page-cade .x-collapsing-breadcrumbs__group,
.t-page-cade .x-collapsing-breadcrumbs__list,
.t-page-ceml .x-collapsing-breadcrumbs__group,
.t-page-ceml .x-collapsing-breadcrumbs__list,
.t-page-cpca .x-collapsing-breadcrumbs__group,
.t-page-cpca .x-collapsing-breadcrumbs__list,
.t-page-cpcd .x-collapsing-breadcrumbs__group,
.t-page-cpcd .x-collapsing-breadcrumbs__list,
.t-page-cpce .x-collapsing-breadcrumbs__group,
.t-page-cpce .x-collapsing-breadcrumbs__list,
.t-page-cpro .x-collapsing-breadcrumbs__group,
.t-page-cpro .x-collapsing-breadcrumbs__list,
.t-page-cpwd .x-collapsing-breadcrumbs__group,
.t-page-cpwd .x-collapsing-breadcrumbs__list,
.t-page-csbe .x-collapsing-breadcrumbs__group,
.t-page-csbe .x-collapsing-breadcrumbs__list,
.t-page-cstr .x-collapsing-breadcrumbs__group,
.t-page-cstr .x-collapsing-breadcrumbs__list,
.t-page-csub .x-collapsing-breadcrumbs__group,
.t-page-csub .x-collapsing-breadcrumbs__list,
.t-page-fpwd .x-collapsing-breadcrumbs__group,
.t-page-fpwd .x-collapsing-breadcrumbs__list,
.t-page-ordh .x-collapsing-breadcrumbs__group,
.t-page-ordh .x-collapsing-breadcrumbs__list,
.t-page-ords .x-collapsing-breadcrumbs__group,
.t-page-ords .x-collapsing-breadcrumbs__list,
.t-page-rgft .x-collapsing-breadcrumbs__group,
.t-page-rgft .x-collapsing-breadcrumbs__list,
.t-page-wish .x-collapsing-breadcrumbs__group,
.t-page-wish .x-collapsing-breadcrumbs__list,
.t-page-wlad .x-collapsing-breadcrumbs__group,
.t-page-wlad .x-collapsing-breadcrumbs__list,
.t-page-wled .x-collapsing-breadcrumbs__group,
.t-page-wled .x-collapsing-breadcrumbs__list,
.t-page-wlst .x-collapsing-breadcrumbs__group,
.t-page-wlst .x-collapsing-breadcrumbs__list,
.t-page-wpck .x-collapsing-breadcrumbs__group,
.t-page-wpck .x-collapsing-breadcrumbs__list {
	padding-top: 0;
}





/* Customer Payment Pages
    =========================================== */
.t-customer-payment-card {
}

.t-customer-payment-card__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1.25rem 2rem;
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

@media (hover: hover) {
	.t-customer-payment-card__link:hover {
		box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
	}
}

	.t-customer-payment-card__link img {
		display: inline-block;
		height: 1.5em;
		margin-right: 0.25em;
		vertical-align: text-bottom;
	}

	.t-customer-payment-card__link span {
		line-height: 1.75;
	}





/* Order History Page
    =========================================== */
.t-account-filtering {
	display: flex;
	flex-direction: column;
	padding-top: 0.75rem;
}

	.t-account-filtering__search .c-form-list__item,
	.t-account-filtering__sort-by .c-form-list__item,
	.t-account-filtering__sort-by .c-form-select {
		margin-bottom: 0;
	}

		.t-account-filtering__search .c-control-group__field {
			min-width: 0;
		}

	.t-account-filtering__search {
		font-size: 0.75rem;
	}

		.t-account-filtering__search .c-button {
			padding: 1rem;
			line-height: 1.15;
		}

@media screen and (min-width: 48em) {
	.t-account-filtering {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 0;
	}

		.t-account-filtering__search,
		.t-account-filtering__sort-by {
			margin-bottom: 0;
		}
}





/* Order History Page
    =========================================== */
.t-account-landing__order-list--subscriptions tbody .c-table-responsive__row.t-ords-status {
	padding-bottom: 0;
	border-bottom: 0 none;
}

	.t-account-landing__order-list--subscriptions tbody .c-table-responsive__row.t-ords-status + .c-table-responsive__row {
		padding-top: 0;
	}

.t-page-ords .t-account-landing__subscription-product {
	align-items: flex-start;
}

	.t-page-ords .t-account-landing__subscription-product picture {
		display: inline-block;
		margin-right: 1.5em;
		padding: 0.5em;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}





/* Customer Credit Pages
    =========================================== */
@media screen and (min-width: 48em) {
	.t-page-abal .t-account-filtering {
		justify-content: flex-end;
	}
	
		.t-page-abal .t-account-filtering__sort-by {
			margin-left: 1.5rem;
		}
}





/* Address Book
    =========================================== */
.t-address {
	min-height: 100%;
	padding: 3.625rem 0.875rem 0;
	border: 1px solid #cdcdcd;
}

.t-address--primary {
	padding-top: 0.875rem;
}

	.t-address__header {
		font-size: 0.875rem;
		font-weight: 700;
		letter-spacing: 0.1em;
		line-height: 2;
		text-align: center;
		text-transform: uppercase;
		background-color: #eaeaea;
	}
	
	.t-address__list {
		padding: 0 18%;
	}
	
		.t-address__link {
			padding-bottom: 0.625em;
		}
		
			.t-address__link .c-button {
				border-bottom: 1px solid currentColor;
			}
			
			.t-address__link .c-button:hover {
				opacity: 0.75;
			}





/* Subscriptions
    =========================================== */
.t-subscription-image {
	display: inline-block;
	width: 100%;
	margin-bottom: 1.5rem;
	padding: 1rem;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.t-subscription-details {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1)
}

	.t-subscription-details__section {
		padding: 4.166% 8.333%;
	}

	.t-subscription-details__block {
		margin-bottom: 1rem;
	}
	
		.t-subscription-details__date {
			display: inline-flex;
			justify-content: space-between;
			padding-right: 0;
		}
		
			.t-subscription-details__date-display {
				font-weight: 700;
			}
			
			.t-subscription-details__date-calendar {
				display: inline-flex;
				align-items: center;
				padding: 0 1rem;
				color: #fc9c1e;
				font-size: 1.5rem;
				background-color: #fff5e8;
			}

				.miva_datepicker {
					border-color: rgba(0, 0, 0, 0.1);
					box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
				}

					.miva_datepicker_calendar_weekday_title {
						font-weight: 400;
					}

					.miva_datepicker_calendar_day_noselect,
					.miva_datepicker_calendar_day_noselect:hover {
						background-color: #d8d8d8;
					}
	
		.t-subscription-details__quantity .t-product-layout-purchase__quantity {
			border: 1px solid #cdcdcd;
		}
		
		.t-subscription-details__quantity .c-heading-delta {
			display: inline-block;
			padding: 0.75em 0;
			font-size: 1.25rem;
			line-height: 1.5;
		}





/* Wish List Page
    =========================================== */
.t-wish-list-search .c-control-group {
	border: 1px solid #eaeaea;
}

	.t-wish-list-search__button {
		padding-right: calc(1em - 1px);
		padding-left: calc(1em - 1px);
	}


.t-wish-list__item .c-control-group__button {
	flex: 1 1 50%;
	padding-right: 0;
	padding-left: 0;
}

.ie11 .t-page-wish .t-basket thead td:last-of-type {
	width: 15rem;
}
