/* ==========================================================================
   THEME STYLE MODIFICATIONS
   ========================================================================== */

/**
 * Set all your THEME styles in this file.
 *
 * Adding a Theme to a design is very straightforward as every component works
 * like an extensible class. This allows you to add theme specific classes
 * and/or override existing classes.
 *
 * NOTE: Any new classes created should follow the established coding
 * standards for the framework. Theme specific classes should be prefixed by
 * `.t-`.
 *
 * Why do it this way?
 * By decoupling the theme styling from the default framework, you get the
 * following benefits:
 *		Keep the framework core library up-to-date
 *		Updates to the core styles of the framework do not get overwritten when
 *		extending the component.
 *
 *		End-user entry points remain untouched
 *		End-users do not need to use any custom name that belongs only to the
 *		theme.
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700|Roboto:400i&display=optional');



body {
	background-color: #f7f7f7;
}





/**
 * Typography Overrides
 */
html,
.u-font-primary {
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.u-font-secondary {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-style: italic;
}


button,
input,
html,
select,
textarea {
	letter-spacing: 0.05em;
}

a {
	color: currentColor;
	text-decoration: underline;
	cursor: pointer;
	transition: 0.2s;
}

a:focus,
a:hover {
	text-decoration: none;
}

.t-primary-link {
	color: #333;
	font-weight: 600;
	letter-spacing: 0.025em;
	text-decoration: none;
}

.t-primary-link:focus,
.t-primary-link:hover {
	color: #a1a1a1;
}

.t-secondary-link {
	color: #6e6e6e;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 1;
}

.t-secondary-link:focus,
.t-secondary-link:hover {
	color: #333;
	text-decoration: underline;
	opacity: 1;
}


p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.444;
}


.c-heading-alpha {
	font-size: calc(55px * 0.85);
	font-weight: 700;
	line-height: 1.4;
}

.c-heading-bravo {
	font-size: calc(50px * 0.85);
	font-weight: 700;
	line-height: 1.36;
}

.c-heading-charlie {
	font-size: calc(30px * 0.85);
	font-weight: 700;
	line-height: 1.5;
}

.c-heading-delta {
	font-size: calc(28px * 0.85);
	font-weight: 700;
	line-height: 1.6;
}

.c-heading-echo {
	font-size: calc(18px * 0.85);
	font-weight: 300;
	line-height: 1.444;
}

.c-heading-foxtrot {
	font-size: calc(16px * 0.85);
	font-weight: 300;
	line-height: 1.5;
}
	
	.c-heading-echo::first-line,
	.c-heading-foxtrot::first-line {
		font-weight: 700;
	}

.c-heading-golf {
	font-size: calc(12px * 0.85);
	font-weight: 600;
	line-height: 1.75;
	text-transform: uppercase;
}

@media (min-width: 60em) {
	/**
	 * Large Breakpoint [60em = 960px] and Greater
	 */
	.c-heading-alpha {
		font-size: 55px;
	}
	
	.c-heading-bravo {
		font-size: 50px;
	}
	
	.c-heading-charlie {
		font-size: 30px;
	}
	
	.c-heading-delta {
		font-size: 28px;
	}
	
	.c-heading-echo {
		font-size: 18px;
	}
	
	.c-heading-foxtrot {
		font-size: 16px;
	}
		
	.c-heading-golf {
		font-size: 12px;
	}
}


.c-heading--subheading {
	font-style: italic;
	letter-spacing: 0.075em;
	text-transform: lowercase;
}






.t-prevent-events {
	pointer-events: none;
}


.t-circled-icon {
	display: inline-block;
	margin-right: 0.25em;
	padding: 0.75em;
	line-height: inherit;
	border-radius: 50%;
}


.c-keyline {
	border-color: #d8d8d8;
}


.o-site-wrapper {
	max-width: 100vw;
}


.t-wrapper {
	max-width: 100rem;
}


.c-form-input {
	border-color: rgba(205, 205, 205, 0.7);
}

.c-form-input:focus {
	border-color: #c0c0c0;
	box-shadow: none;
}


.c-form-input--large {
	padding: 0 1em;
	font-size: 0.875rem;
}


.c-form-checkbox__input:checked + .c-form-checkbox__caption::after {
	background: #0f0f0f none;
	border: 1px solid currentColor;
	box-shadow: inset 0 0 0 2px #fff;
}


.c-button--primary,
.c-button--secondary {
	padding: calc(1.5em - 2px) calc(3em - 2px);
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border-width: 2px;
}

/**
* For buttons that identify as the primary action.
*/
.c-button--primary {
	background-color: #f7f7f7;
	border-color: currentColor;
	color: #333;
	
}

	.c-button--primary:hover,
	.c-button--primary:active {
		background-color: #d8d8d8;
		border-color: currentColor;
	}

/**
* For buttons that identify as the secondary action.
*/
.c-button--secondary {
	background-color: #333;
	color: #f7f7f7;
	
}

	.c-button--secondary:hover,
	.c-button--secondary:active {
		background-color: #6e6e6e;
	}





.x-messages {
	margin-bottom: 1rem;
	padding: 0.75em 1.25em;
	font-size: 0.8125rem;
}

.x-messages--info,
.x-messages--warning {
}


.u-text-light {
	font-weight: 300;
}


/**
 * Colossus Color Overrides
 */
.u-bg-red::before,
.u-bg-red {
	background-color: #ad1a32;
}

.u-bg-yellow::before,
.u-bg-yellow {
	background-color: #f5b51b;
}

.u-bg-blue::before,
.u-bg-blue {
	background-color: #5c597e;
}

.u-bg-green::before,
.u-bg-green {
	background-color: #307962;
}

.u-bg-black::before,
.u-bg-black {
	background-color: #333;
}

.u-bg-gray-50::before,
.u-bg-gray-50 {
	background-color: #6e6e6e;
}

.u-bg-gray-40::before,
.u-bg-gray-40 {
	background-color: #a1a1a1;
}

.u-bg-gray-30::before,
.u-bg-gray-30 {
	background-color: #b3b3b3;
}

.u-bg-gray-20::before,
.u-bg-gray-20 {
	background-color: #d8d8d8;
}

.u-bg-gray-10::before,
.u-bg-gray-10 {
	background-color: #f7f7f7;
}

.u-bg-primary::before,
.u-bg-primary {
	background-color: #fcae46;
}

.u-bg-secondary::before,
.u-bg-secondary {
	background-color: #333;
}

.u-bg-tertiary::before,
.u-bg-tertiary {
	background-color: #d7d3cf;
}

.c-button:hover.u-bg-red {
	background-color: #a00c24;
}

.c-button:hover.u-bg-yellow {
	background-color: #c7bd19;
}

.c-button:hover.u-bg-blue {
	background-color: #34638b;
}

.c-button:hover.u-bg-green {
	background-color: #007c36;
}

.c-button:hover.u-bg-black {
	background-color: #3f3f3f;
}

.c-button:hover.u-bg-gray-50 {
	background-color: #4e4e4e;
}

.c-button:hover.u-bg-gray-40 {
	background-color: #5a5a5a;
}

.c-button:hover.u-bg-gray-30 {
	background-color: #7f7f7f;
}

.c-button:hover.u-bg-gray-20 {
	background-color: #9a9a9a;
}

.c-button:hover.u-bg-gray-10 {
	background-color: #bcbcbc;
}

.c-button:hover.u-bg-white {
	background-color: #333;
	color: #fff;
}

.c-button:hover.u-bg-primary {
	background-color: #e17824;
}

.c-button:hover.u-bg-secondary {
	background-color: #3f3f3f;
}

.c-button:hover.u-bg-tertiary {
	background-color: #cbcbcb;
}

.u-border-red {
	border-color: #ad1a32;
}

.u-border-yellow {
	border-color: #f5b51b;
}

.u-border-blue {
	border-color: #5c597e;
}

.u-border-green {
	border-color: #307962;
}

.u-border-black {
	border-color: #333;
}

.u-border-gray-50 {
	border-color: #6e6e6e;
}

.u-border-gray-40 {
	border-color: #a1a1a1;
}

.u-border-gray-30 {
	border-color: #b3b3b3;
}

.u-border-gray-20 {
	border-color: #d8d8d8;
}

.u-border-gray-10 {
	border-color: #f7f7f7;
}

.u-border-primary {
	border-color: #fcae46;
}

.u-border-secondary {
	border-color: #333;
}

.u-border-tertiary {
	border-color: #d7d3cf;
}

.u-color-red {
	color: #ad1a32;
}

.u-color-yellow {
	color: #f5b51b;
}

.u-color-blue {
	color: #5c597e;
}

.u-color-green {
	color: #307962;
}

.u-color-black {
	color: #333;
}

.u-color-gray-50 {
	color: #6e6e6e;
}

.u-color-gray-40 {
	color: #a1a1a1;
}

.u-color-gray-30 {
	color: #b3b3b3;
}

.u-color-gray-20 {
	color: #d8d8d8;
}

.u-color-gray-10 {
	color: #f7f7f7;
}

.u-color-primary {
	color: #fcae46;
}

.u-color-secondary {
	color: #333;
}

.u-color-tertiary {
	color: #d7d3cf;
}





.t-defer-object {
	opacity: 0;
	overflow: hidden;
	transform-origin: top;
	transition: opacity cubic-bezier(0, 0, 0.4, 1) 0.15s, visibility cubic-bezier(0, 0, 0.4, 1) 0.15s;
	visibility: hidden;
}

.t-defer-object--loaded {
	opacity: 1;
	overflow: initial;
	visibility: visible;
}

.t-lazy-load-image {
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
	animation-name: fadeIn;
	animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
	object-fit: cover;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}





.x-site-header,
.x-site-footer {
	padding-top: 1rem;
}

.x-site-header {
	border-bottom: 1px solid #eaeaea;
}





.x-site-navigation {
	padding-top: 3rem;
}





.x-site-content {
	padding-bottom: 2rem;
}





.x-site-navigation__container {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}

	.x-site-navigation__toggle:checked ~ .x-site-navigation__container {
		height: auto;
		max-height: 1000vh;
		padding-bottom: 2rem;
		opacity: 1;
		transition: 0.2s ease-in;
	}

	.x-site-navigation__toggle:checked ~ .x-site-navigation__toggle-buttons .x-site-navigation__toggle--shown {
		display: block;
	}

	.x-site-navigation__toggle:checked ~ .x-site-navigation__toggle-buttons .x-site-navigation__toggle--hidden {
		display: none;
	}


	.x-site-navigation .o-list-bare {}

		.x-site-navigation__title:not(:only-child) {
			margin-bottom: 0;
		}


@media screen and (min-width: 48em) {
	.x-site-navigation {
		padding-bottom: 2rem;
	}

		.x-site-navigation__container {
			max-height: none;
			opacity: 1;
		}

			.x-site-navigation__toggle-buttons {
				display: none;
			}

	.x-site-content {
		padding-top: 3rem;
	}
}


.x-site-footer p {
	font-size: 0.875rem;
}





.x-inline-code {
	display: inline-block;
	padding: 0 0.5em;
	overflow-wrap: break-word;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #eee;
}





.x-border-example {}





.sg-color-swatch {
	display: block;
	width: 100%;
	height: 3rem;
	margin-bottom: 0.5rem;
}





/**
 * PRISM STYLES
 */

.glyph {
	font-size: 16px;
	width: 15em;
	padding-bottom: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
	float: left;
	overflow: hidden;
}

.liga {
	width: calc(100% - 2.5em);
}

.talign-right {
	text-align: right;
}

.talign-center {
	text-align: center;
}

.bgc1 {
	background: #f1f1f1;
}

.fgc1 {
	color: #999;
}

.fgc0 {
	color: #000;
}

.mvm {
	margin-top: .75em;
	margin-bottom: .75em;
}

.mtn {
	margin-top: 0;
}

.mtl, .mal {
	margin-top: 1.5em;
}

.mbl, .mal {
	margin-bottom: 1.5em;
}

.mal, .mhl {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.mhmm {
	margin-left: 1em;
	margin-right: 1em;
}

.mls {
	margin-left: .25em;
}

.ptl {
	padding-top: 1.5em;
}

.pbs, .pvs {
	padding-bottom: .25em;
}

.pvs, .pts {
	padding-top: .25em;
}

.unit {
	float: left;
}

.unitRight {
	float: right;
}

.size1of2 {
	width: 50%;
}

.size1of1 {
	width: 100%;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.hidden-true {
	display: none;
}

.textbox0 {
	width: 3em;
	background: #f1f1f1;
	padding: .25em .5em;
	line-height: 1.5;
	height: 1.5em;
}

#testDrive {
	display: block;
	padding-top: 24px;
	line-height: 1.5;
}

.fs0 {
	font-size: 16px;
}

.fs1 {
	font-size: 32px;
}






/* PrismJS 1.12.0
http://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+markdown&plugins=toolbar+unescaped-markup+normalize-whitespace */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0 1em;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar a {
	cursor: pointer;
}

div.code-toolbar > .toolbar button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
	color: inherit;
	text-decoration: none;
}

/* Fallback, in case JS does not run, to ensure the code is at least visible */
[class*='lang-'] script[type='text/plain'],
[class*='language-'] script[type='text/plain'],
script[type='text/plain'][class*='lang-'],
script[type='text/plain'][class*='language-'] {
	display: block;
	font: 100% Consolas, Monaco, monospace;
	white-space: pre;
	overflow: auto;
}
