/* ==========================================================================
   EXTENSIONS / SPINNER / SPINNER
   ========================================================================== */

/**
 * 1. Set the size of the spinner to whatever the font size is: much more terse.
 * 2. Defining the colour once and reusing it via `currentColor` is more terse.
 * 3. The border of the spinner should be 5% the size of the overall spinner.
 * 4. The spinner is just a ¾-complete circle that rotates.
 * 5. Kellum Method for hiding text: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
.x-spinner {
	display: inline-block;
	width: 1em; /* [1] */
	height: 1em; /* [1] */
	overflow: hidden; /* [5] */
	vertical-align: middle;
	font-size: calc(16px * 5); /* [1] */
	text-indent: 100%; /* [5] */
	animation: spin 0.6s infinite linear;
	border: calc((16px * 5) * 0.05) solid; /* [3] */
	border-color: transparent currentColor currentColor; /* [2][4] */
	color: #3d70b2; /* [2] */
	border-radius: 100%; /* [4] */
	opacity: 1;
	visibility: visible;
	transition: opacity 0.6s ease, visibility 0.6s ease;
}

	/**
	 * The spinning indicator uses a stateful `.is-complete` class to provide a
	 * default "completed" transition and state.
	 * e.g. `<div class="x-spinner  is-complete"></div>`
	 *
	 * Using the transition defined in .x-spinner, this fades and shrinks the icon.
	 */
	.x-spinner.is-complete {
		opacity: 0;
		visibility: hidden;
	}
	
	
	/* Spinning Size Modifiers
	   =========================================== */
	
	/**
	 * Because we set the spinner’s dimensions in ems, we can change its size just
	 * by altering `font-size`.
	 *
	 * For use in smaller pieces of UI where the default size is too large.
	 */
	.x-spinner--small {
		font-size: calc(16px * 4);
	}
	
	/**
	 * For use in larger pieces of UI where the default size is too small.
	 */
	.x-spinner--large {
		font-size: calc(16px * 6);
	}





/* Spinning Overlay
   ========================================================================== */

/**
 * The spinning overlay is used to cover any loadable content until complete.
 * Sample background modifiers are provided, but you should create your own
 * modifier to match appropriately.
 *
 * 1. Allows styling of box model properties and absolute positioning of
 *    pseudo-elements.
 * 2. Sets the indicator as visible to transition.
 * 3. Sets a very high z-index to ensure any content is covered.
 * 4. Transitions visibility on completion.
 */
.x-spinner-overlay {
	position: absolute; /* [1] */
	top: 0; /* [1] */
	right: 0; /* [1] */
	bottom: 0; /* [1] */
	left: 0; /* [1] */
	opacity: 1; /* [2] */
	visibility: visible; /* [2] */
	z-index: 1000; /* [3] */
	transition: opacity 0.6s ease, visibility 0.6s ease; /* [4] */
}
	
	/**
	 * Vertically and horizontally centers the indicator to the overlay
	 */
	.x-spinner-overlay > .x-spinner {
		margin: calc(0 - (16px * 5) / 2) auto 0 calc(0 - (16px * 5) / 2);
		position: absolute;
		top: 50%;
		left: 50%;
	}
	
	.x-spinner-overlay > .x-spinner--small {
		margin-top: calc(0 - (16px * 4) / 2);
		margin-left: calc(0 - (16px * 4) / 2);
	}
	
	.x-spinner-overlay > .x-spinner--large {
		margin-top: calc(0 - (16px * 6) / 2);
		margin-left: calc(0 - (16px * 6) / 2);
	}
	
	
	/**
	 * The spinning overlay uses a stateful `.is-complete` class to provide a
	 * default "completed" transition and state.
	 * e.g. `<div class="x-spinner-overlay  is-complete"></div>`
	 *
	 * Using the transitions defined in .x-spinner-overlay and .x-spinner, this fades
	 * the overlay slightly after the indicator has shrunk.
	 */
	.x-spinner-overlay.is-complete {
		opacity: 0;
		visibility: hidden;
		transition-delay: 0.3s;
	}
		
		.x-spinner-overlay.is-complete > .x-spinner {
			opacity: 0;
			visibility: hidden;
		}

		
		
		
		
/* Spin animation keyframes
   ========================================================================== */
@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}
